# Node
node_modules
.pnpm-store

# Build outputs
dist
.output
.nuxt
.build

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo

# Environment
.env
.env.local
.env.*.local

# Temp
tmp
temp
